<style>
    .left-ads{
        position: fixed;
        bottom: 0;
        height: 150px;
        width: 300px;
    }
</style>
<div class="left-ads">
    <div class="ads-container">
        <div class="ads-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="http://suo.im/579Hb3" target="blank"><img src="/assets/images/ads/4.jpg"></a></div>
            </div>
        </div>
        <span class="ads-tip" style="top: 0;right: inherit;bottom: inherit;left: 0;">百度网盘加速器</span>
    </div>
</div>