<style>
    .mid-ads{
        height: 400px;
        width: 100%;
    }
    @media screen and (max-width: 1300px){
        .mid-ads{
            height: 250px;
        }
    }
    @media screen and (max-width: 400px){
        .mid-ads{
            height: 120px;
        }
    }
</style>
<div class="mid-ads">
    <div class="ads-container">
        <div class="ads-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="http://t.cn/R3jYJQU" target="blank"><img src="/assets/images/ads/4.jpg"></a></div>
                <div class="swiper-slide"><a href="http://t.cn/R3jYJQU" target="blank"><img src="/assets/images/ads/5.jpg"></a></div>
                <div class="swiper-slide"><a href="http://t.cn/R3jYJQU" target="blank"><img src="/assets/images/ads/6.jpg"></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <span class="ads-tip">广告</span>
    </div>
</div>